/* Fonts */
.Rubik4{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.Rubik5{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}


/* Colors */
.SBlue{
   color:  #5368df;
} 
.VBlue{
    color: 	#252b46;
}
.Red{
    color: 	#fa5757;
}
.Gray{
    color: #9194a1;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
  
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fa5757;
}
.btnlogin{
    background: #fa5757;
    border-color: #fa5757;
    
}
.btnlogin:hover{
 color: #fa5757;
 background: transparent;
 border-color: #fa5757;
}

.hero{
    height: 100vh;
}

 main{
    height: 100vh;
    position: relative;
}


main .row{
    padding-top: 15%;
}
main::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 50vh;
    background-color: #5368df;
    border-top-left-radius: 30rem;
    border-bottom-left-radius: 30rem;
    z-index: -1;
} 
.btn-primary{
   margin: 3px;
    width: 200px;
}

.bt-chrome{
    background-color: #5368df;
    border-color: #5368df;
    box-shadow: 1px 2px #5368df7e;
    width: 250px;
}
.bt-firefox{
    background-color: #9194a138;
    border-color: #9194a138;
    color: black;
    box-shadow: 1px 2px #9194a12c;
    width: 250px;
}
.bt-chrome:hover{
    background-color: transparent;
    color: #5368df;
    border-color: #5368df;
    box-shadow: 1px 2px transparent;
}
.bt-firefox:hover{
    background-color: transparent;
    border-color: black;
    color: black;
    box-shadow: 1px 2px transparent;
}
.features .container{
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.features h1{
    text-align: center;
}
.features p{
    text-align: center;
    font-size: 19px;
}

.features2 {
    padding-top: 5rem;
   
}
.features2 h1{
    text-align: center;
}
.features2 p{
    text-align: center;
    font-size: 19px;
}

.features2 .container{
    padding-top: 3rem;
}
.click ul{
    padding-bottom: 3rem;

}
.click{
    position: relative;
}

.click::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(7rem);
    width: 42%;
    height: 40vh;
    background-color: #5368df;
    border-top-right-radius: 30rem;
    border-bottom-right-radius: 30rem;
    z-index: -1;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: 	#252b46;
    background-color: #ffffff00;   
    border-bottom: 3px solid #fa5757;
}
.nav-pills .nav-link {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background: 0 0;
    border: 0;
    border-radius: 0rem;
    width: 200px;
    color: #9194a1;
}
.nav-pills .nav-link:hover {   
    color: #fa5757;
}
.browsers{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.browsers .row{
   height: 50vh;
}
.card {   
    border: 1px solid rgb(0 0 0 / 0%);
    box-shadow: 1px 1px 3px 4px #9194a12c;
}
.acordion .container{
    width: 40%;
}
.accordion-item {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.accordion-button:not(.collapsed) {
    color: #252b46;
    background-color: #e7f1ff00;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:hover {
    color: #fa5757;
    background-color: #e7f1ff00;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("../images/icon-arrowR.svg");
    transform: rotate(180deg);
}
.contact{
    background: #5368df;
}
.contact .container{
    color: white;
    width: 40%;
} 
.btred{
 background-color: #fa5757;
 color: white; 
}
.btred:hover{
    background-color: white;
    color: #fa5757; 
    border-color: #fa5757;
   }
.contact .row{
    color: white;
    width: 75%;
}
.footer{
    background-color: #252b46;
}
.footer img{
 height: 30px;
 margin-top: 15px;
}
.footer p{
    margin-top: 20px;
    color: white;
    font-size: 15px;
}
.footer p:hover{
   color: #fa5757;
}
.fab:hover{
    color: #fa5757;
}
.fab{
    font-size: 1.5rem;
    margin-left: 15px;
    color: white;
    margin-top: 20px;
} 
@media (max-width: 768px) {
    .acordion .container{
        width: 100%;
    }
    .browsers .row{
        height: 100vh;
     }
    main::after{
        content: "";
        position: absolute;
        top: 220px;
        right: 0;
        width: 60%;
        height: 25vh;
        background-color: #5368df;
        border-top-left-radius: 30rem;
        border-bottom-left-radius: 30rem;
        z-index: -1;
    } 
    main h1{
        padding-top: 4rem;
        text-align: center;
    }
    main p{
        padding-top: 1rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    .click h1{
        padding-top: 4rem;
        text-align: center;
    }
    .click p{
        text-align: center;
    }
    
    .click::before{
        content: '';
        position: absolute;
        bottom: 260px;
        left: 0;
        transform: translateY(1rem);
        width: 62%;
        height: 20vh;
        background-color: #5368df;
        border-top-right-radius: 30rem;
        border-bottom-right-radius: 30rem;
        z-index: -1;
    }
    .features2 {
        padding-top: 1rem;
    }
    .fab{
        padding-bottom: 1rem;
    }
}

@media (max-width: 992px){
    main .row{
        margin-top: 25%;
    }
    .click h1{
        padding-top: 4rem;
        text-align: center;
    }
    .click p{
        text-align: center;
    }
  
}

